/*
colors: #00e000
@media (min-width: 1024px)  {}
@media (min-width: 768px) and (max-width: 1023px){}
@media (max-width: 767px){}

fonts: 
*/

@media (min-width: 1024px)  {
    html {
            font-size: 77.5%;
    }
    body {
      font-family: 'Titillium Web', sans-serif;
        height: 100%;
        width: 100%;
        margin: 0;    
        overflow: hidden;    
    }
    .hidden {
        display: none;
    }
    #menu {
        overflow: hidden;
        border-left: 2px solid grey;
    }
    .menu-wrap {
        width: 60rem;
        height: 90vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 5vh;
        border-left: 2px double grey;
    }
    .menu-wrap> ul {
        
        list-style: none;
        display: flex;
        flex-direction: column;
    }
    .menu-li-page-links,
    .menu-li-contact-links {
        margin: 1vh 0 1vh 0; 
    }
    .main{
        width: 100%;
    }
    #burger {
        z-index: 0;
        float: right;
        position: fixed;
        top: 2em; 
        right: 2em;
        background: none;
        border: none;
        font-size: 2em;
    }

    .main-wrap {
        width: 80%;
        margin: 10% auto;
    
    }
    .profile-card-container {
        width: 50%;
        margin: 0% auto;
        margin-bottom: 2%;
        display: flex;
        flex-direction: row;
        justify-content: left;
    }

    #portrait {
        border-radius: 50%;
        height: 160px;
        width: 155px;
        margin: 0 2% 0 2%;
    }

    #banner{
        display: flex;
        flex-direction: column;
        justify-content: center;
        vertical-align: middle;
        text-align: center;
        
    }
    #banner>h1 {
        font-size: 3rem;
        margin: 0;
    }
    #banner>h2 {
        font-size: 2.22rem;
        margin: 0;
    }

    .introduction-container {
        border-top: 3px solid lightgray;
        width: 50%;
        margin: 3% auto;
    
 
    }

    .introduction-container>p {
        padding-left: 1em;
        font-size: 2.0rem;
    }

    .icon-ul {
         padding: 0;
    }

    ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .icon-li>a:hover {
        color: #00e000;
    }
    li {
        font-size: 1.9rem;
    }

    a {
         text-decoration: none;
        color: black;
    }
    #js {
        color: #00e000;
       
    }
    #node{
        color: #00e000;
 
    }
    /*SLIDER CSS */
    .slideout-menu {
        position: fixed;
        top: 0;
        bottom: 0;
        width: 256px;
        min-height: 100vh;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        z-index: 10;
        display: none;
    }

    .slideout-menu-left {
         left: 0;
    }

    .slideout-menu-right {
        right: 0;
    }

    .slideout-panel {
        position: relative;
        z-index: 1;
        will-change: transform;
        background-color: #FFF; /* A background-color is required */
        min-height: 100vh;
    }

    .slideout-open,
    .slideout-open body,
    .slideout-open .slideout-panel {
         overflow: hidden;
    }

    .slideout-open .slideout-menu {
        display: block;
    }
}

@media (min-width: 768px) and (max-width: 1023px){
    html {
            font-size: 55.5%;
    }
    body {
      font-family: 'Titillium Web', sans-serif;
        height: 100%;
        width: 100%;
        margin: 0;    
        overflow: hidden;    
    }
    .hidden {
        display: none;
    }
    #menu {
        overflow: hidden;
        border-left: 2px solid grey;
    }
    .menu-wrap {
        width: 60rem;
        height: 90vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 5vh;
        border-left: 2px double grey;
    }
    .menu-wrap> ul {
        
        list-style: none;
        display: flex;
        flex-direction: column;
    }
    .menu-li-page-links,
    .menu-li-contact-links {
        margin: 1vh 0 1vh 0; 
    }
    .main{
        width: 99%;
    }
    #burger {
        float: right;
        position: fixed;
        top: 2em; 
        right: 2em;
        background: none;
        border: none;
        font-size: 2em;
    }

    .main-wrap {
        width: 80%;
        margin: 10% auto;
    
    }
    .profile-card-container {
        width: 50%;
        margin: 0% auto;
        margin-bottom: 2%;
        display: flex;
        flex-direction: column;
        justify-content: left;
    }

    #portrait {
        border-radius: 50%;
        height: 160px;
        width: 155px;
       margin: 0 auto;
    }

    #banner{
        display: flex;
        flex-direction: column;
        justify-content: center;
        vertical-align: middle;
        text-align: center;
        
    }
    #banner>h1 {
        font-size: 3rem;
        margin: 0;
    }
    #banner>h2 {
        font-size: 2.22rem;
        margin: 0;
    }

    .introduction-container {
        border-top: 3px solid lightgray;
        width: 50%;
        margin: 3% auto;
 
    }

    .introduction-container>p {
        padding-left: 1em;
        font-size: 2.0rem;
    }
    .icon-ul {
         padding: 0;
    }

    ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .icon-li>a:hover {
        color: #00e000;
    }
    li {
        font-size: 1.9rem;
    }

    a {
         text-decoration: none;
        color: black;
    }
    #js {
        color: #00e000;
       
    }
    #node{
        color: #00e000;
 
    }
    /*SLIDER CSS */
    .slideout-menu {
        position: fixed;
        top: 0;
        bottom: 0;
        width: 256px;
        min-height: 100vh;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        z-index: 0;
        display: none;
    }

    .slideout-menu-left {
         left: 0;
    }

    .slideout-menu-right {
        right: 0;
    }

    .slideout-panel {
        position: relative;
        z-index: 1;
        will-change: transform;
        background-color: #FFF; /* A background-color is required */
        min-height: 100vh;
    }

    .slideout-open,
    .slideout-open body,
    .slideout-open .slideout-panel {
         overflow: hidden;
    }

    .slideout-open .slideout-menu {
        display: block;
    }
}


@media (max-width: 768px){
     html {
            font-size: 55.5%;
    }
    body {
      font-family: 'Titillium Web', sans-serif;
        height: 100%;
        width: 100%;
        margin: 0;    
        overflow: hidden;    
    }
    .hidden {
        display: none;
    }
    #menu {
        overflow: hidden;
        border-left: 2px solid grey;
        
    }
    .menu-wrap {
        width: 60rem;
        height: 90vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 5vh;
        border-left: 2px double grey;
    }
    .menu-wrap> ul {
        
        list-style: none;
        display: flex;
        flex-direction: column;
    }
    .menu-li-page-links,
    .menu-li-contact-links {
        margin: 1vh 0 1vh 0; 
    }
    .main{
        width: 99%;
    }
    #burger {
        z-index: 10;
        float: right;
        position: fixed;
        top: 2em;
        right: 2em;
        background: none;
        border: none;
        font-size: 2em;
    }

    .main-wrap {
        width: 80%;
        margin: 10% auto;
    
    }
    .profile-card-container {
        margin: 0% auto;
        margin-bottom: 2%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #portrait {
        border-radius: 50%;
        height: 160px;
        width: 155px;
        margin: 0 auto;
    }

    #banner{
        display: flex;
        flex-direction: column;
        justify-content: center;
        vertical-align: middle;
        text-align: center;
        
    }
    #banner>h1 {
        font-size: 3rem;
        margin: 0;
    }
    #banner>h2 {
        font-size: 2.22rem;
        margin: 0;
    }

    .introduction-container {
        border-top: 3px solid lightgray;
        margin: 3% auto;
 
    }

    .introduction-container>p {
        padding-left: 1em;
        font-size: 2.0rem;
    }
    .icon-ul {
         padding: 0;
    }
    ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .icon-li>a:hover {
        color: #00e000;
    }
    li {
        font-size: 1.9rem;
    }

    a {
         text-decoration: none;
        color: black;
    }
    #js {
        color: #00e000;
       
    }
    #node{
        color: #00e000;
 
    }
    /*SLIDER CSS */
    .slideout-menu {
        position: fixed;
        top: 0;
        bottom: 0;
        width: 150px;
        min-height: 100vh;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        z-index: 11;
        display: none;
    }

    .slideout-menu-left {
         left: 0;
    }

    .slideout-menu-right {
        right: 0;
    }

    .slideout-panel {
        position: relative;
        z-index: 1;
        will-change: transform;
        background-color: #FFF; /* A background-color is required */
        min-height: 100vh;
    }

    .slideout-open,
    .slideout-open body,
    .slideout-open .slideout-panel {
         overflow: hidden;
    }

    .slideout-open .slideout-menu {
        display: block;
    }
}
