/*
colors: #FF00C8
@media (min-width: 1024px)  {}
@media (min-width: 768px) and (max-width: 1023px){}
@media (max-width: 767px){}

fonts: 
*/


    html {
            font-size: 77.5%;
    }
    body {
      font-family: 'Titillium Web', sans-serif;
        height: 100%;
        width: 100%;
        margin: 0;        
    }
    .hidden {
        display: none;
    }
    #menu {
        overflow: hidden;
        border-left: 2px solid grey;
        background-color: #FF00C8;
    }
    .menu-wrap {
        width: 60rem;
        height: 90vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 5vh;
    }
    .menu-wrap> ul {
        
        list-style: none;
        display: flex;
        flex-direction: column;
    }
    .menu-li-page-links,
    .menu-li-contact-links {
        margin: 1vh 0 1vh 0; 
    }
    .main{
        width: 100%;
    }
    #burger {
        float: right;
        position: fixed;
        top: 0.2em;
        right: .5em;
        background: none;
        border: none;
        font-size: 2em;
    }
/*HEADER STYLE*/
    .header-container {
        margin-bottom: 7%;
    }
    header {
        width: 100%;
        height: 8em;
        padding-top: 2em;
        display: flex;
        flex-direction: row;
    }
    .header-logo {
        margin-left: 2em;
    }
    .header-logo-text {
        margin-left: 1em;
    }
    #portrait {
        border-radius: 50%;
        height: 7em;
        width: 7em;
    }
/*HEADER STYLE END*/
    .main-wrap {
        width: 80%;
        margin: 0 auto;
    
    }
   /*Project Card */
   .project-card {
        margin: 0 auto;
   }

    .content-container {
        margin-bottom: 10%;
        display: flex;
        flex-direction: column;
    }
    .content-image {
        background-image: url('./ao.jpg');
        height: 20em;
        width: 100%;
        margin: 0;
    }
    .project-title {
         font-size: 3rem;
         margin: .5em;
    }
    .project-description {
        font-size: 2.3em;
        margin: .5em;
    }
    

    /*footer*/
    footer {
        width: 80%;
        border-top: 2px solid lightgrey;
        display: flex;
        flex-direction: column;
        margin: 5% auto;
        padding-top: 5em;
    }
    .icon-container {
        width: 80%;
        margin: 0 auto;
    }
    .footer-text-wrap {
        width: 80%;
        margin: 0 auto;
    }

    .footer-title {
        font-size: 2rem;
    }

    .footer-text {
        font-size: 1.5rem;
    }
    /*list styles*/
    .icon-ul {
         display: flex;
        padding: 0;
        justify-content: space-between;

    }

    ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .icon-li>a:hover {
        color: #FF00C8;
    }
    li {
        font-size: 1.9rem;
    }

    a {
        color: black;
    }

    /*SLIDER CSS */
    .slideout-menu {
        position: fixed;
        top: 0;
        bottom: 0;
        width: 256px;
        min-height: 100vh;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        z-index: 0;
        display: none;
    }

    .slideout-menu-left {
         left: 0;
    }

    .slideout-menu-right {
        right: 0;
    }

    .slideout-panel {
        position: relative;
        z-index: 1;
        will-change: transform;
        background-color: #FFF; /* A background-color is required */
        min-height: 100vh;
    }

    .slideout-open,
    .slideout-open body,
    .slideout-open .slideout-panel {
         overflow: hidden;
    }

    .slideout-open .slideout-menu {
        display: block;
    }


